/* General styles */

a {
  color: inherit;
  display: block;
  text-decoration: none;
}

.module > a + a,
melon-card + melon-card {
  margin-top: 15px;
}

melon-card {
  max-width: 100%;
}

form {
  margin: 15px;
}

form melon-button {
  float: right;
  margin-top: 15px;
}
